doctype html
html
head
	title= "catalogo"
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/javascripts/javascript.js')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/style.css')

	body

		include logo
		include body
	
		div.titulopromo
			h2 Meu Carrinho
		div.branco
			table.table.table-hover(border='1')
				thead
					tr
						th Produto
						th Nome
						th
						th
						th Valor Unitário
						th
						th Quantidade
						th
						th
						th Subtotal

				- for (var x = 0; x < 72; x++)
						if dados.quadros[x].Carrinho == "s"
							tr(valign='top', align='left')
								td.cart-dashed-line-border(width='55px' align='left')
									a(href="http://localhost:52000/quadro/detalhado/"+dados.quadros[x].Código)
										img.imageBorder(width='120' src=dados.quadros[x].Imagem)
								td.cart-dashed-line-border
									.nomeproduto Quadro #{dados.quadros[x].Nome}
									button.cart(data-id= +dados.quadros[x].Código)
										i.material-icons.small delete
								td.cart-dashed-line-border
									a.dropdown-button.btn(data-beloworigin='true', href='#', data-activates='dropdown1') Tamanho:
									ul#dropdown1.dropdown-content
										li
											a#op1(data-preço=dados.quadros[x].Preço1, data-estoque=dados.quadros[x].Estoque1).opcao #{dados.quadros[x].Tamanho1}
										li
											a#op2(data-preço=dados.quadros[x].Preço2, data-estoque=dados.quadros[x].Estoque2).opcao #{dados.quadros[x].Tamanho2}
										a(class="cart" data-id=dados.quadros[x].Código)
									th.cart-dashed-line-border(align='right')

								th.cart-dashed-line-border(align='right')
									.nomeproduto 
										p(id="preço") R$ #{dados.quadros[x].Preço1}

									span.productQuantity
								th.cart-dashed-line-border(align='right')
									a(data-quantidade=+dados.quadros[x].Código).btn-floating.btn-small.waves-effect.waves-light.remove
										i.material-icons remove
								th.cart-dashed-line-border(align='right')
									input(id="quantidade"+dados.quadros[x].Código, type='text' value='1' readonly)
								th.cart-dashed-line-border(align='right')
									a(data-quantidade=+dados.quadros[x].Código).btn-floating.btn-.waves-effect.waves-light.adiciona
										i.material-icons add

								th.cart-dashed-line-border(align='right')
								th.cart-dashed-line-border(align='right')
									.nomeproduto(id='total'+dados.quadros[x].Código) #{dados.quadros[x].Preço1}



				- for (var x = 0; x < 13; x++)
					if dados.canecas[x].Carrinho == "s"
						tr(valign='top', align='left')
							td.cart-dashed-line-border(width='55px' align='left')
								a(href="http://localhost:52000/caneca/detalhada/"+dados.canecas[x].Código)
									img.imageBorder(width='120' src=dados.canecas[x].Imagem)
							td.cart-dashed-line-border
								.nomeproduto #{dados.canecas[x].Nome}
									.nomeproduto Capacidade: #{dados.canecas[x].Capacidade}
								button.cart(data-id= +dados.canecas[x].Código)
									i.material-icons.small delete
							th.cart-dashed-line-border(align='right')

							th.cart-dashed-line-border(align='right')
							th.cart-dashed-line-border(align='right')
								.nomeproduto 
									p R$ #{dados.canecas[x].Preço1}
								span.productQuantity

							th.cart-dashed-line-border(align='right')
								a(data-quantidade=+dados.canecas[x].Código).btn-floating.btn-small.waves-effect.waves-light.remove
									i.material-icons remove
							th.cart-dashed-line-border(align='right')
								input(id="quantidade"+dados.canecas[x].Código, type='text' value='1' readonly)
							th.cart-dashed-line-border(align='right')
								a(data-quantidade=+dados.canecas[x].Código).btn-floating.btn-.waves-effect.waves-light.adiciona
									i.material-icons add
							th.cart-dashed-line-border(align='right')

							th.cart-dashed-line-border(align='right')
								.nomeproduto(id='total'+dados.canecas[x].Código) #{dados.canecas[x].Preço1}
