doctype html
html
	head
		title= "catalogo"
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-3.1.1.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/javascript.js')
   
	body
		div.titulocatalogo
			h2 Catálogo de Produtos
		div.branco
			div.container
					div.row

						- for (var x = 0; x < 36; x++)
							div.col-md-4.imagem
									h2= dados.filmes[x].Nome
										p
											div
												img(src=dados.filmes[x].Imagem)
												
											div
												h1 A partir de R$#{dados.filmes[x].Preço1}
												p ou a partir de 4xR$13,90

						- for (var x = 0; x < 13; x++)
							div.col-md-4.imagem
									h2= dados.musica[x].Nome
										p
											div
												img(src=dados.musica[x].Imagem)
												
											div
												h1 A partir de R$#{dados.musica[x].Preço1}
												p ou a partir de 3xR$15,90