doctype html
html
head
	title= "catalogo"
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/javascript.js')

body

	include logo 
	include body

	div.titulopromo
		.fixed-action-btn.toolbar
			a.btn-floating.btn-large.waves-light
				i.large.material-icons search
			ul
				li.waves-effect.waves-light
					a(href='#!' type='select' id='resultado')
						i.material-icons.small movie
				li.waves-effect.waves-light
					a(href='#!')
						i.material-icons.small queue_music
				li.waves-effect.waves-light
					a(href='#!')
						i.material-icons.small theaters
				li.waves-effect.waves-light
					a(href='#!')
						i.material-icons.small face
				li.waves-effect.waves-light
					a(href='#!')
						i.fa.fa-coffee.fa-2x
				li.waves-effect.waves-light
					a(href='http://localhost:46000/promocao')
						i.material-icons.small loyalty
		h2 Catálogo de Produtos

	div.branco
		div.container
				div.row

					- for (var x = 0; x < 85; x++)
						div.col-md-4.imagem
								h2= dados[x].Nome
									p
										.grid
											figure.effect-zoe
												a(href="http://localhost:46000/produto/detalhado/"+dados[x].Código)
													img(src=dados[x].Imagem)
													figcaption
														p.icon-links
															a(href='#')
																i.material-icons.small shopping_cart
															a(href="#") 
																i.material-icons.small star
											div
												h1 A partir de R$#{dados[x].Preço1}
												p #{dados[x].Pagamento}