extends layout
	
block promo
	div.col-md-6
		a.waves-effect.waves-light.btn-large
			i.material-icons.right cloud
			| button
	div.col-md-6
		a.waves-effect.waves-light.btn-large
			i.material-icons.right cloud
			| button

	#contenedor
	#myCarousel.carousel.slide
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')         
			li(data-target='#myCarousel', data-slide-to='1')       
		// Carousel items
		.carousel-inner
			.active.item
				a(href="http://localhost:51000/promocao"): img(src='/images/promoquadros.png')       
			.item
				a(href="http://localhost:51000/canecas"): img(src='/images/promoçãocaneca.jpg')           
			
		// Carousel nav
		a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;      
		a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;

block content
	br
	div.titulopromo
		h2 Lançamentos do mês
	div.branco
		div.container
				div.row
					#conteudo
					each val in [9, 25, 35, 38, 47, 64]
						div.col-md-4.imagem
								h2= dados.quadros[val].Nome
									p
										.grid
											figure.effect-zoe
												a(href="http://localhost:51000/produto/detalhado/"+dados.quadros[val].Código)
													img(src=dados.quadros[val].Imagem)
													figcaption
														p.icon-links
															a(href="#" )
																i.material-icons.small shopping_cart
															a(href="#") 
																i.material-icons.small star
											div
												h1 A partir de R$#{dados.quadros[val].Preço1}
												p #{dados.quadros[val].Pagamento}




					// - for (var x = 85; x < 91; x++)
					//  div.col-md-4.imagem
					//              h2= dados.quadros[x].Nome
					//                  p
					//                      .grid
					//                          figure.effect-zoe
					//                              a(href="http://localhost:51000/produto/detalhado/"+dados.quadros[x].Código)
					//                                  img(src=dados.quadros[x].Imagem)
					//                                  figcaption
					//                                      p.icon-links
					//                                          a(href='#' class='addCount')
					//                                              i.material-icons.small shopping_cart
					//                                          a(href="http://localhost:51000/post/favoritos" id='favorito')  
					//                                              i.material-icons.small star
					//                          div
					//                              h1 A partir de R$#{dados.quadros[x].Preço1}
					//                              p ou a partir de 3xR$15,90

