doctype html
html
head
	title= "catalogo"
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/javascript.js')

body

	include logo 
	include body

	div.titulopromo
	div.branco
		div.container
			div.col-md-6
				span#ex1.zoom
					img(src=dados[cod].Imagem)
			div.col-md-6.info
				h1 #{dados[cod].Nome}
			div.informacoes.info
				h3  A partir de R$ #{dados[cod].Preço1}
					label(for='status')
						span.glyphicon.glyphicon-stats Tamanho
						select#status.form-control
							option(value='T1' id='T1') #{dados[cod].Tamanho1}
							option(value='T2' id='T2') #{dados[cod].Tamanho2}

				p Moldura: #{dados[cod].Moldura}
				p Impressão e acabamento: #{dados[cod].Impressão}
				p Estoque: #{dados[cod].Estoque1}
				

