doctype html
html
head
	title= "catalogo"
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/javascripts/javascript.js')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/style.css')

body

	include logo 
	include body

	div.titulopromo
	div.branco
		div.container
			div.col-md-6.image
				br
				//- img(src=dados[cod].Imagem)#zoom_01
				span#zoom.zoom
					img(src=dados.quadros[cod].Imagem, alt='Daisy on the Ohoopee')
				br
				.row
					div.col-md-2
						a.fa.fa-facebook(href='#')
					div.col-md-2
						a.fa.fa-pinterest(href='#')
					div.col-md-8

			div.col-md-6.info
				h1 #{dados.quadros[cod].Nome}
				div.informacoes.info
					h3#bla  A partir de R$ #{dados.quadros[cod].Preço1}
				.row
					div.col-md-4
					div.col-md-4
						a.dropdown-button.btn(data-beloworigin='true', href='#', data-activates='dropdown1') Selecione o tamanho:
						ul#dropdown1.dropdown-content
							li
								a#op(href='#!' value='P1') #{dados.quadros[cod].Tamanho1}
							li
								a#op(href='#!' value='P2') #{dados.quadros[cod].Tamanho2}
					div.col-md-4

				div.dados
					b Moldura: 
					p #{dados.quadros[cod].Moldura}
					b Impressão e acabamento:
					p #{dados.quadros[cod].Impressão}.
					b Obs: 
					p #{dados.quadros[cod].Observações}.
					b Estoque:  #{dados.quadros[cod].Estoque1}

				br
				a.waves-effect.waves-light.btn-large Comprar
					i.material-icons.left shopping_cart

		//- div.veja
		//- 	div.container
		//- 		h1 Veja também
		//- 			div.row
		//- 				each val in [7, 9, 3, 67]
		//- 					div.col-md-3.imagem
		//- 							h2= dados[val].Nome
		//- 								p
		//- 									.grid
		//- 										figure.effect-zoe
		//- 											a(href="http://localhost:52000/produto/detalhado/"+dados[val].Código)
		//- 												img(src=dados[val].Imagem)
		//- 												figcaption
		//- 													p.icon-links
		//- 														a(href="#" )
		//- 															i.material-icons.small shopping_cart
		//- 														a(href="#") 
		//- 															i.material-icons.small star
		//- 										div
		//- 											h1 A partir de R$#{dados[val].Preço1}
		//- 											p #{dados[val].Pagamento}
						
						
			

