doctype html
html
head
	title= "catalogo"
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/javascripts/javascript.js')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/style.css')

body

	include logo 
	include body

	div.titulopromo
	div.branco
		div.container
			#produto
			div.col-md-6.image
				br
				span#zoom.zoom
					img(src=dados.quadros[cod].Imagem, alt='Daisy on the Ohoopee')
				br
				.row
					div.col-md-2
						a.fa.fa-facebook(href='#')
					div.col-md-2
						a.fa.fa-pinterest(href='#')
					div.col-md-8

			div.col-md-6.info
				h1 #{dados.quadros[cod].Nome}
				div.informacoes.info
					h3(id="preço") A partir de R$ #{dados.quadros[cod].Preço1}

				div.dados
					b Moldura: 
					p #{dados.quadros[cod].Moldura}
					b Impressão e acabamento:
					p #{dados.quadros[cod].Impressão}.
					b Obs: 
					p #{dados.quadros[cod].Observações}.
					b(id="estoque") Estoque: #{dados.quadros[cod].Estoque1}

				br
			
				p SEDEX - R$ #{dados.quadros[cod].Frete}/prazo após pagamento: 14 dias úteis 
				a(data-id= +dados.quadros[cod].Código).cart.waves-effect.waves-light.btn-large Adicionar ao carrinho
					i.material-icons.left shopping_cart



		//- div.veja
		//- 	div.container
		//- 		h1 Veja também
		//- 			div.row
		//- 				each val in [7, 9, 3, 67]
		//- 					div.col-md-3.imagem
		//- 							h2= dados.quadros[val].Nome
		//- 								p
		//- 									.grid
		//- 										figure.effect-zoe
		//- 											a(href="http://localhost:52000/produto/detalhado/"+dados.quadros[val].Código)
		//- 												img(src=dados.quadros[val].Imagem)
		//- 												figcaption
		//- 													p.icon-links
		//- 														a(href="#" )
		//- 															i.material-icons.small shopping_cart
		//- 														a(href="#") 
		//- 															i.material-icons.small star
		//- 										div
		//- 											h1 A partir de R$#{dados.quadros[val].Preço1}
		//- 											p #{dados.quadros[val].Pagamento}
						
						
			

