doctype html
html
	head
	title= "catalogo"
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/javascripts/javascript.js')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
	link(rel='stylesheet', href='/stylesheets/style.css')

	body

		include logo 
		include body
	
		div.titulopromo
			h2 Quadros em Promoção
		div.branco
			div.container
				div.row
					- for (var x = 0; x < 72; x++)
						if dados.quadros[x].Promo == "s"
							//- p Como eu amo a bianquinha s2
							div.col-md-4.imagem
								h2= dados.quadros[x].Nome
								p
									.grid
										figure.effect-zoe
											a(href="http://localhost:54000/quadro/detalhado/"+dados.quadros[x].Código)
												img(src=dados.quadros[x].Imagem)
												figcaption
													p.icon-links
														a()
															i(data-id= +dados.quadros[x].Código).cart.material-icons.small shopping_cart
														a() 
															i(id='cor'+dados.quadros[x].Código, data-id=dados.quadros[x].Código).material-icons.small.favorite star
										div
											h1 A partir de R$#{dados.quadros[x].Preço1}
											p #{dados.quadros[x].Pagamento}