doctype html
html
	head
	title= "catalogo"
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/jquery-3.1.1.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/materialize.min.js')
	script(src='/javascripts/javascript.js')
   
	body

		include logo 
		include body
	
		div.titulopromo
			h2 Quadros em Promoção
		div.branco
			div.container
				div.row
					div.col-md-4.imagem
							h2= dados.filmes[0].Nome
								p
									.grid
										figure.effect-zoe
											img(src=dados.filmes[0].Imagem)
											figcaption
												p.icon-links
													a(href='#')
														i.material-icons.small shopping_cart
													a(href="#") 
														i.fa.fa-heart.fa-2x 

										
									div
										h1 A partir de R$#{dados.filmes[0].Preço1}
										p #{dados.filmes[0].Pagamento}

					div.col-md-4.imagem
								h2= dados.filmes[7].Nome
									p
										.grid
											figure.effect-zoe
												img(src=dados.filmes[7].Imagem)
												figcaption
													p.icon-links
														a(href='#')
															i.material-icons.small shopping_cart
														a(href="#") 
															i.fa.fa-fw.fa-heart

											
										div
											h1 A partir de R$#{dados.filmes[7].Preço1}
											p #{dados.filmes[7].Pagamento}

					div.col-md-4.imagem
								h2= dados.filmes[22].Nome
									p
										.grid
											figure.effect-zoe
												img(src=dados.filmes[22].Imagem)
												figcaption
													p.icon-links
														a(href='#')
															i.fa.fa-cart-plus(aria-hidden='true')
														a(href="#") 
															i.fa.fa-fw.fa-heart

											
										div
											h1 A partir de R$#{dados.filmes[22].Preço1}
											p #{dados.filmes[22].Pagamento}

		div.branco
			div.container
				div.row
					div.col-md-4.imagem
							h2= dados.musica[8].Nome
								p
									.grid
										figure.effect-zoe
											img(src=dados.musica[8].Imagem)
											figcaption
												p.icon-links
													a(href='#')
														i.fa.fa-cart-plus(aria-hidden='true')
													a(href="#") 
														i.fa.fa-fw.fa-heart

										
									div
										h1 A partir de R$#{dados.musica[8].Preço1}
										p #{dados.musica[8].Pagamento}

					div.col-md-4.imagem
								h2= dados.musica[12].Nome
									p
										.grid
											figure.effect-zoe
												img(src=dados.musica[12].Imagem)
												figcaption
													p.icon-links
														a(href='#')
															i.fa.fa-cart-plus(aria-hidden='true')
														a(href="#") 
															i.fa.fa-fw.fa-heart

											
										div
											h1 A partir de R$#{dados.musica[12].Preço1}
											p #{dados.musica[12].Pagamento}

					div.col-md-4.imagem
								h2= dados.seriados[5].Nome
									p
										.grid
											figure.effect-zoe
												img(src=dados.seriados[5].Imagem)
												figcaption
													p.icon-links
														a(href='#')
															i.fa.fa-cart-plus(aria-hidden='true')
														a(href="#") 
															i.fa.fa-fw.fa-heart

											
										div
											h1 A partir de R$#{dados.seriados[5].Preço1}
											p #{dados.seriados[5].Pagamento}

		div.branco
			div.container
				div.row
					div.col-md-4.imagem
							h2= dados.desenhos[0].Nome
								p
									.grid
										figure.effect-zoe
											img(src=dados.desenhos[0].Imagem)
											figcaption
												p.icon-links
													a(href='#')
														i.fa.fa-cart-plus(aria-hidden='true')
													a(href="#") 
														i.fa.fa-fw.fa-heart

										
									div
										h1 A partir de R$#{dados.desenhos[0].Preço1}
										p #{dados.desenhos[0].Pagamento}

					div.col-md-4.imagem
								h2= dados.desenhos[3].Nome
									p
										.grid
											figure.effect-zoe
												img(src=dados.desenhos[3].Imagem)
												figcaption
													p.icon-links
														a(href='#')
															i.fa.fa-cart-plus(aria-hidden='true')
														a(href="#") 
															i.fa.fa-fw.fa-heart

											
										div
											h1 A partir de R$#{dados.desenhos[3].Preço1}
											p #{dados.desenhos[3].Pagamento}


										
					